<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>login page</title>
<link rel="stylesheet" type="text/css" media="screen"
	th:href="@{/css/loginPage.css}" />
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.form.js}"></script>
</head>
<body>
	<form id="loginPageForm">
		<table>
			<tbody>
				<tr>
					<td>name</td>
					<td><input th:type="text" th:id="loginName"
						th:name="loginName" th:value="admin" /></td>
					<td><font color="red">*</font></td>
				</tr>
				<tr>
					<td>pass</td>
					<td><input th:type="password" th:id="password"
						th:name="password" th:value="admin" /></td>
					<td><font color="red">*</font></td>
				</tr>
				<tr>
					<td><input th:type="button" onclick="login()" th:value="submit" /></td>
					<td><input th:type="button" onclick="cancelLogin()"
						th:value="cancel" /></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

<script type="application/javascript">


        $(document).keyup(function (event) {
            if(event.keyCode == 13){
                login();
            }
        });

        function cancelLogin() {
            $("#loginName").val("");
            $("#password").val("");
        }
        function login() {
            var loginPath = "/user/login";
            var loginName = $("#loginName").val();
            var password = $("#password").val();
            if(loginName == ""){
                alert("loginName null");
                return false;
            }
            if(password == ""  ){
                alert("password null");
                return false;
            }
            // var headers = {
            //         "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
            //         "Authorization": "Basic d2ViX2FwcDo="
            //     };
            $.ajax({
                url:loginPath,
                type:"post",
                //dataType:"json",
                //contentType: "application/json",
                //headers: headers,
                async: false,
                data:'name='+loginName+'&pwd='+password,
                success:function callbackFun(data){
					if(data=="success"){
                        window.location.href ="/user/index";
                    }else {
					    alert(data)
					}
                    //alert("data:"+data)

                    // //解析json
                    // if(data.access_token!=null){
                    // 		localStorage.setItem("jhi-authenticationtoken",data.access_token);
                    //     window.location.href ="/api-doc?Authorization="+data.access_token;
                    // }
                },
                error:function(data){
                		alert("error");
                }
            });
        }

</script>
</html>
